<head>
    <link rel="stylesheet" type="text/css" href=" /home/daniel/Escritorio/projecto/css/style.css ">
</head>

<div class="panel-centro-1" >
    <a class="btn-centro" href=""> <strong> Crear</strong></a>
    <a class="btn-centro" href=""> <strong>Modificar</strong></a>
    <a class="btn-centro" href=""> <strong> Eliminar </strong></a>
    <a class="btn-centro valores" href=""> <strong> Consultar </strong></a>
    <a class="btn-centro" href=""><strong> Buscar</strong></a>
</div>
<div class="panel-centro-2">
    <form action="" method="post">
        <label class="bloque" for="">Codigo</label>
        <input type="text" name="" alt="">
        <label class="bloque" for="">Nombre</label>
        <input type="text" name="" id="">
        <label class="bloque" for="">Tipo de formación</label>
        <input type="text" name="" id="">
        <label class="bloque" for="">Jornada</label>
        <input type="text" name="" id="">
        <label class="bloque" for="">Duración</label>
        <input type="text" name="" id="">
        <label class="bloque" for="">Trimestre</label>
        <input type="text" name="" id="">
        <label class="bloque" for="">Centro</label>
        <input type="text" name="" id="">
    </form>
</div>
<div class="panel-centro-3" >
    <table class="tupla">
        <tr class="tupla">
            <th class="tupla-columna titulo">Codigo</th>
            <th class="tupla-columna titulo">Nombre</th>
            <th class="tupla-columna titulo">Tipo de formacion</th>
            <th class="tupla-columna titulo">Jornada</th>
            <th class="tupla-columna titulo">Duracion</th>
            <th class="tupla-columna titulo">Trimestre</th>
            <th class="tupla-columna titulo">Centro</th>
        </tr>
        <tr class="tupla">
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
        </tr>
        <tr class="tupla">
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
            <td class="tupla-columna"></td>
        </tr>
    </table>
</div>